body{
    font-family: "Rambla", sans-serif;
    display: flex;
    margin: 0;
}

.menubar{
    display: none;
}
.aside-container{
    width: 200px;
    padding-top: 15px;
    padding-left: 20px;
  position: fixed;
  height: 100vh;
  border-right: solid 1px lightgrey;
  box-shadow: 0px 10px 10px 0px lightgrey;
}
.other-container{
    margin-left: 250px;
    padding-left:0;
    width:100%;
}
aside img{
    border-radius: 50%;
    margin-left: 20%;
}
.aside-list{
    list-style-type: none;
    padding:10px;
    font-size: large;
    border-bottom: 1px solid lightgray;
    width: 150px;
}
aside ul{
    padding:0;
}
aside a:link {
    text-decoration: none;
    color: black;
  }
aside  a:visited {
    text-decoration: none;
    color: black
  }
aside  a:hover {
    text-decoration: none;
    color: tomato;
  }
 aside a:active {
    text-decoration: none;
  }
header{
    background-image: url(https://images.unsplash.com/photo-1573126617899-41f1dffb196c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTN8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80
    );
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10% 25% 40% 25%;
    text-align: center;

}
header img{
    border-radius: 45%;
    border: 10px solid rgba(255, 255, 255, .3);
    width:200px;
}

header h1{
    text-transform:uppercase;
    font-size: 50px;
    padding: 10px;
}
header button{
    padding: 15px;
    font-size: 15px;
    text-transform: uppercase;
    border: 2px solid white;
}
.hire{
    background-color: rgba(255, 255, 255, .3);
    color: white;;

}
.work{
    color:black;
    background-color: white;
}
.h1:hover{
    color:white;
    cursor: pointer;
    background-color: rgba(255, 255, 255, .3);
    box-shadow: 2px 2px 22px 2px rgb(0, 0, 0);
    transform: scale(1.02) perspective(0px);
    transition: all .3s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.work:hover{
    background-color: rgba(255, 255, 255, .3);
    color: white;
    cursor: pointer;
}
.hire:hover{
    color: black;
    background-color: white;
    cursor: pointer;
}
main{
    display: flex;
    margin-top: 30px;
}
main img{
    width: 50%;
    height: 50%;
    margin-right: 30px;
}

.lists{
    display: flex;
    padding: 0;
    margin: 0;
}
.lists ul{
list-style-type: none;
padding: 0 80px 0 0;
}
.lists ul li{
    line-height: 30px;
}
.ulleft{
    font-weight: bold;
}
.aboutme h3{
    padding-bottom: 20px;
    font-size: 25px;
    border-bottom: grey solid 1px;
}
.resume{
    padding: 15px;
    background-color:orangered;
    color: white;
    border: none;
    font-size: 16px;
}
.resume:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.animation{
  display: inline-block;
  margin-left: 20px;
    
}
.animation button{
  width: 19%;
  height: 150px;
  margin: 20px;
  transition: all .2s ease;
  cursor: pointer;
  font-size: 20px;
  background-color: white;
  border: solid 1px lightgray;
}
.animation button:hover{
    border: solid 1px tomato;
    border-radius: 15px;
    font-size: 20px;
    color: tomato;
    margin:0;
    box-shadow: 10px 10px 10px 0px lightgray;
    background-color: white;
}

.experience {
    text-align: center;
    padding-left: 5%;
}

.experience h2 {
    text-transform: uppercase;
}

.boxes {
    display: flex;
    text-align: left;
    flex-wrap: wrap;
}

.box {
    border: 1px solid rgb(190, 190, 190, .5);
    margin: 5px;
    width: 45%;
    padding: 1%;
}

.box:hover {
    box-shadow: 0px 0px 25px rgb(190, 190, 190);

}

.box:hover .years {
    animation: year-bar;
    animation-duration: .5s;
    padding-left: 100px;

}
@keyframes year-bar{
 0% { width: 90px ;}
 100% {width: 250px;}
}

.skills{
    text-align: center;
    padding-top: 100px;
}
.years {
    background-color: orangered;
    padding: 2%;
    color: white;
    width: 90px;
}

.years-icon {
    display: flex;
    justify-content: space-between;
}

.icon {
    width: 30px;
    height: auto;
    border: 5px solid orangered;
    border-radius: 50%;
}

.box h5 {
    font-weight: bold;
    font-size: 15px;
    margin-top: 2%;
}
 /* progress skills part */
.others {
    display: flex;
    text-align: left;
}

.progress {
    background-color: rgb(190, 190, 190, .2);
    display: flex;
    height: 25px;
    font-size: 10px;
    justify-content: left;
    margin-bottom: 25px;
}

.orange-css,
.orange-design,
.orange-html,
.orange-js,
.orange-react {
    background-color: orangered;
    padding: 10px;
    color: white;
    text-transform: uppercase;

}

.progress:hover .orange-html {
    animation: orange-html;
    animation-duration: 0.7s;
}

@keyframes orange-html {
    from {
        width: 0%;
    }

    to {
        width: 40%;
    }
}

.progress:hover .orange-css {
    animation: orange-css;
    animation-duration: 0.7s;
}

@keyframes orange-css {
    from {
        width: 0%;
    }

    to {
        width: 85%;
    }
}

.progress:hover .orange-js {
    animation: orange-js;
    animation-duration: 0.7s;
}

@keyframes orange-js {
    from {
        width: 0%;
    }

    to {
        width: 70%;
    }
}

.progress:hover .orange-react {
    animation: orange-react;
    animation-duration: 0.7s;
}

@keyframes orange-react {
    from {
        width: 0%;
    }

    to {
        width: 60%;
    }
}

.progress:hover .orange-design {
    animation: orange-design;
    animation-duration: 0.7s;
}

@keyframes orange-design {
    from {
        width: 0%;
    }

    to {
        width: 90%;
    }
}

.progress p {
    padding: 10px 0px;
    margin: 0;
    font-weight: bold;
}

.leftskill,
.rightskill {
    margin: 60px 40px 0px 0px;
    width: 47%
}

.orange-html {
    width: 40%;
}

.orange-css {
    width: 85%;
}

.orange-js {
    width: 70%;
}

.orange-react {
    width: 60%;
}

.orange-design {
    width: 90%;
}

/* language part */
.language-container {
    display: flex;
    flex-wrap: wrap;
}

.lang {
    width: 40%;
    margin: 20px;
    display: flex;
    border: 1px solid rgb(190, 190, 190, .5);
    padding: 20px 0px;
    transition: transform .2s;
}

.lang:hover {
    box-shadow: 0px 0px 25px rgb(190, 190, 190);
    transform: scale(1.1);
}


.percentage {
    border: 5px solid orangered;
    border-radius: 50%;
    background: orangered;
    color: white;
    padding: 7px 3px;
    margin: 0;
    margin-left: 10px;
}

.lang-name {
    padding: 7px 20px;
    margin: 0;

}

@media screen and (max-width: 769px) { 
    main img{
        display: none;
    }
    .animation{
        display: inline-block;
        margin-left: 0;
    }
        .animation button{
            width: 20%;
            height: 100px;
            margin: 10px;
            transition: all .2s ease;
            cursor: pointer;
            font-size: 10px;
            background-color: white;
            border: solid 1px lightgray;
          }
         .animation button:hover{
            border: solid 1px tomato;
            border-radius: 15px;
            font-size: 15px;
            color: tomato;
            margin:0;
            box-shadow: 10px 10px 10px 0px lightgray;
            background-color: white;}
            .lang {
                width: 37%;
                margin: 2%;
                height: auto;
                display: flex;
                flex-direction: column;
                border: 1px solid rgb(190, 190, 190, .5);
                padding: 6% 3%;
                transition: transform .2s;
                
            }
            
            .lang:hover {
                box-shadow: 0px 0px 25px rgb(190, 190, 190);
                transform: scale(1.1);
            }
            .percentage {
                border: 5px solid orangered;
                border-radius: 50%;
                font-size:smaller;
                background: orangered;
                color: white;
                padding: 14% 1%;
                margin: 1%;
                text-align: center;
            }
            .lang-name {
                padding: 7px 0;
                margin: 0;
                text-align: center;
            }
}
@media screen and (max-width: 400px){
    header{
        padding:2%;
    }
    .aside-container{
        display: none;
    }
    .other-container{
        margin-left: 0;
    }
    header h1{
        font-size:20px;
        color: white;
    }

    header img{
        margin-top: 20%;
    }
    .aboutme{
        padding: 0 5%;
    }
    .aboutme p{
        padding-right: 10%;
    }
    main{
        margin: 0;
    }
    .resume{
        margin-left: 20%;
    }
    .skills{
        padding-top: 5%;
    }
    .animation button{
        width: 40%;
        font-size: 18px;
    }
    .animation button:hover{
        font-size: 20px;
    }
    .skills h6{
        font-size: 13px;
    }
    .experience{
        padding-top: 5%;
    }
    .experience h6{
        font-size: 13px;
    }
.box{
    width: 100%;
    margin-top: 5%;
    padding: 3%;
}
.others{
    flex-direction: column;
    font-size: 18px;
    text-align: center;
}
.leftskill{
    width: 100%;
    margin-top: 5%;
}
.progress{
    font-size: 13px;
}

.rightskill{
    width: 100%;
    margin-top: 5%;
}
.percentage{
    border: 5px solid orangered;
    border-radius: 50%;
    font-size:large;
    background: orangered;
    color: white;
    padding: 30% 1%;
    margin: 1%;
    text-align: center;
}
.menubar{
    position:fixed;
    display: flex;
    background-color: grey;
    width: 100%;
    margin-top: 0;
}
.mobile-list{
    list-style-type: none;
    padding: 10px;
    }
header li{
        color: white;
    }
.menubar a{
        text-decoration: none;
        background-color: grey;
        color: white;
        width: 100%;
    }
}